/* styles.css */
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}
form {
  font-family: 'Open Sans', sans-serif;
}

.loading-bar {
  width: 100%;
  /* Adjust the width as needed, e.g., width: 80%; for an 80% wide loading bar */
  height: 20px;
  /* Height of the loading bar */
  background-color: #ccc;
  /* Background color of the loading bar */
}

.progress {
  width: 0%;
  /* Initial width of the progress bar */
  height: 100%;
  background-color: #4CAF50;
  /* Color of the progress bar */
  transition: width 0.2s;
  /* Smooth animation for the progress bar */
}

.content.hidden {
  display: none;
}